html {
  height: 100%;
}

body {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

/* ----------------------------Traducteur-------------------------- */

.content {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  width: 90%;
  border-radius: 1em;
  margin: auto;
  box-shadow: 7px 7px 20px rgba(147, 111, 202, 0.739);
}


h1 {
  font-size: 3em;
  text-align: center;
}
.box{
  width: 80%;
  margin: auto;
  text-align: center;
}
textarea {
  width: 70%;
  margin: auto;
  font-size: 1.5em;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 10px;
}

textarea::placeholder {
  font-size: 16px;
  color: #b3afaf;
}

.form {
  display: flex;
  justify-content: center;
}

.bouton {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  background: #a069c3;
  box-shadow: 7px 7px 20px #a069c3;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 35px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.bouton:hover{
  background-color: #9346c3;
}

select {
  background: #6a24ba;
  box-shadow: 7px 7px 20px #6a24ba;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  /* width: 100%; */
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 35px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

/* ------------------------------Horloge----------------------------- */
.time {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center
}

.holorge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 2px 50px rgba(10, 10, 10, 0.5);
}

.heures {
  font-size: 50px;
  width: 500px;
  height: 100px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(10, 10, 10, 0.2);
}

.date {
  font-size: 25PX;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 10px;
}

/* -------------------------------Mixin--------------- */

@media screen and (min-width: 750px) {
  .content{
    width: 50%;
  }
  }
  @media screen and (max-width: 750px) {
  .content{
    width: 90%;
  }
  html {
    height: 120%;
  }
  .heures {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
  }
  h1 {
    font-size: 2em;
}
/* .display{
  display: none;
} */
  }